.imagesDisplay {
    display: flex;
    padding: 15px;
}

.ImageEditForm-original {
    
    display:flex;
    margin:10px;
    
}

.ImageEditForm-edit {
    display:flex;
    margin: 10px;
}
